@font-face {
  font-family: "James Stroker"; font-style: normal; font-weight: normal;
  src: url('../fonts/james-stroker/james-stroker.woff') format('woff'),
  url('../fonts/james-stroker/james-stroker.ttf') format('ttf');
}

@font-face {
  font-family: "Cooper Lt BT W08 Regular"; font-style: normal; font-weight: normal;
  src: url('../fonts/cooper/Cooper_Lt_BT_W08_Regular.woff2') format('woff2'),
  url('../fonts/cooper/Cooper_Lt_BT_W08_Regular.woff') format('woff');
}

@font-face {
  font-family: "Cooper BT W03 Medium Italic"; font-style: italic; font-weight: bold;
  src: url('../fonts/cooper/Cooper_BT_W03_Md_It.woff2') format('woff2'),
  url('../fonts/cooper/Cooper_BT_W03_Md_It.woff') format('woff');
}

@font-face {
  font-family: "Trade Gothic Bold Condensed No. 20"; font-style: normal; font-weight: normal;
  src: url('../fonts/trade-gothic/trade-gothic-bold-cn-20.woff') format('woff'),
  url('../fonts/trade-gothic/TradeGothicLT-BoldCondTwenty.ttf') format('ttf');
}

@font-face {
  font-family: "Trade Gothic Condensed No. 18"; font-style: normal; font-weight: normal;
  src: url('../fonts/trade-gothic/trade-gothic-cn-18.woff') format('woff'),
  url('../fonts/trade-gothic/TradeGothicLT-CondEighteen.ttf') format('ttf');
}